$primary: #8B5CF6;
$secondary: #FF855D;
$accent: #036c5f;
$neutral: #ffffff;
$dark: #5a6f81;
$light: #f3f6fb;

$success: #28a745;
$warning: #fda403;
$error: #c00000;

$primarylux: hsl(240, 100%, 95%);
$secondarylux: hsl(43, 100%, 90%);
$accentlux: hsl(173, 95%, 90%);
$successlux: #def7e3;
$warninglux: #fff1d7;
$errorlux: #ffcdcd;
